@{
    ViewBag.Title = "Index";
}

<h2 style="color: darkgrey">Cos</h2>


<style>
    body{
        background-color: #3A506B;
    }
</style>

<br />
@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

@foreach (var cart in ViewBag.CartBooks)
{

    <div class="card flex-row" style="height:20vh;overflow: auto;">
        @* <img src="/images/@Model.Image" alt="Poza" style="height:17rem; width:13rem;" />*@
        <img class="card-img-left card-img-responsive" src="/images/@cart.Product.Image" alt="Poza" style="width:20vw">
        <div class="card-body border" style="background-color: darkgrey" >




            @*<div><i class="bi bi-globe"></i> @cart.Product.Category.CategoryName</div>*@

            <div class="d-flex justify-content-between flex-row">
                <p class="card-text">@cart.Product.Title </p>
                <p class="card-text">@cart.Product.Price RON</p>
            </div>

            <div class="d-flex justify-content-center flex-row mt-2 mb-2">


                <a style ="background-color:#0B132B" class="btn btn-success rounded-circle" href="/Carts/Decrease/?id=@cart.CartID&ProductId=@cart.Product.ProductId"><i class="bi bi-dash"></i>-</a>
                <p class="card-text m-2">@cart.Quantity</p>
                <a style="background-color:#0B132B" class="btn btn-success rounded-circle" href="/Carts/Increase/?id=@cart.CartID&ProductId=@cart.Product.ProductId"><i class="bi bi-plus-lg"></i>+</a>


            </div>

            <div class="d-flex justify-content-between flex-row mt-2 mb-2">
                <a class="btn btn-danger" href="/Carts/Delete/?id=@cart.CartID&ProductId=@cart.Product.ProductId"><i class="bi bi-trash3"></i>Elimina produs</a>
                <a style="background-color:#1C2541" class="btn btn-success" href="/Products/Show/@cart.Product.ProductId"><i class="bi bi-three-dots-vertical"></i>Afisare produs</a>

            </div>
        </div>
    </div>
    <br />


}

<div style="background-color:#1C2541" class="d-flex justify-content-between flex-row mt-2 mb-2">
    <p style="background-color:#1C2541" class="card-text d-flex justify-content-center rounded px-2 py-1 bg-success text-light">@ViewBag.TotalPrice RON</p>

    <a style="background-color:#1C2541" class="btn btn-outline-warning" href="/Orders/Index"> <i class="bi bi-send"></i>Plaseaza Comanda</a>
</div>



